<nav class="navbar navbar sticky-top bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <h4 class="navbar-brand"><b><i>PhoneShop</i></b></h4>
        <ul>
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/shop">Shopping</a></li>
            <li><a class="nav-link" href="/login">Login</a></li>
            <li><a class="nav-link" href="/register">Register</a></li>
        </ul>
    </div>
</nav>