<nav class="navbar navbar sticky-top bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: #ffffff; margin-bottom: 9px"><b>Phone Shop</b></a>
        <ul>
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="/shop">Shopping</a></li>
            <li><a class="nav-link" href="/login">Login</a></li>
            <li><a class="nav-link" href="/register">Register</a></li>
        </ul>
    </div>
</nav>