<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4"><b><i>Your better electronic experience</i></b></h1>
        <hr class="my-4">
        <p>Curabitur auctor ante vitae lectus faucibus feugiat. Integer efficitur ornare ultricies. Quisque at iaculis libero.
            Donec ut tempor nulla. Integer commodo arcu at diam scelerisque, non pellentesque purus ultricies.
            Sed nec sollicitudin massa. Etiam sit amet ante eu quam venenatis congue.
            Aenean dignissim arcu eu massa molestie malesuada.</p>

        <p>Cras a ex erat. Suspendisse vestibulum porta vulputate. Sed dictum egestas est vitae bibendum.
            In rhoncus venenatis ligula, vitae tempor metus tincidunt sed. Sed dignissim, dolor eu malesuada blandit,
            orci nibh bibendum turpis, non facilisis lectus augue mollis sem. Pellentesque sit amet nisl neque.</p>

        <p>Curabitur auctor ante vitae lectus faucibus feugiat. Integer efficitur ornare ultricies. Quisque at iaculis libero.
            Donec ut tempor nulla. Integer commodo arcu at diam scelerisque, non pellentesque purus ultricies.
            Sed nec sollicitudin massa. Etiam sit amet ante eu quam venenatis congue.
            Aenean dignissim arcu eu massa molestie malesuada.</p>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
</div>